.backLinks{
    max-height: 23px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;

}
.backLinks img{
    height: 100%;
}

.aboutAd{

    padding: 10px;
}

.adProps{

    padding: 10px;
}