.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#074383, #2091c2);
    transition: 1s;
    display: flex;
    justify-content: center;


}

.logo-header{
    position: relative;
    top: 60%;
    left: 25%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 45px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-header img{
    max-width: 80%;
}
.logotail{
    margin-top: -50px;
}
.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}
.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}