

:root{
    --Title: #274472 ;
    --loginBtn : rgb(241, 193, 32);
}

.logoText{
    font-size: 25px;
    color: #274472;
    text-transform: uppercase;
    font-weight: 700;
}

.navLinks {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 0px;
}

.navbar-brand{
    display: flex;
    flex-direction: row;
    color: var(--primPurple);
    margin-left:12px ;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.navbar-brand .companyLogo{
    width: 100%;
    max-width: 25px;
    
}
.loginAndLangLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loginAndLangLinks select{
    outline: none;
    border: none;
}


.navLogin:hover{
    background-color: var(--mainyellowHover) !important;
    color: white !important;
    
}
/*navbar*/
.nav-item{
    font-size: 14px;
    font-weight: 600;
    padding: 1px 10px;
    transition:  all 0.3s ease;
}
.nav-item:hover{
    background-color: var(--Title);
    border-radius: 5px;
}
.nav-item:hover > .mylinks {
    color: white !important;
}
.mynav{
    padding-top: 0px;
}

.contactBox{
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-weight: 500;
    color: var(--mainDBlue);
}
.contactBox img{
    margin-right: 8px;
}

.navLogin{
    background-color: var(--mainyellow);
    color: black;
    padding: 1px 12px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-left: 16px;
}

@media screen and (max-width: 700px) {
    .contactBox{
        display: none;
    }
}