body{
    background: url(/jd_img/skipbg.png);
    background-size: cover;
    background-position: right top ;
    background-repeat: no-repeat;
    
}
.thankuTitle{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 1px;
}
.thankuSubTitle{
    font-size: 25px;
    color: var(--mainDBlue);
}
.choiceFrame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    
}
.thankimgBox{
    display: flex;
    justify-content: center;
}

.buttonFrame{
    padding: 10px 20px;
    border: 4px solid var(--mainLBlue);
    border-radius: 4px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
    margin-top: 0px;
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    
    
    color: rgb(53, 52, 52);
    transition: 0.3s all ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.buttonFrame a{
    color: white;
    text-decoration: none;
}
.buttonFrame h5{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}
.buttonFrame:hover{
    background-color: rgb(24, 24, 78);
    
}
.create{
    background: var(--mainLBlue);
    color: white;
}
.create:hover{
    background-color: var(--mainDBlue);
    
}
.skip{
    background: rgb(255, 253, 253);
    color: white;
}
.skip a{
    color: var(--mainLBlue);
}
.skip:hover{
    background: var(--mainyellow);
}
.skip:hover > a{
    color: black;
}

