
.choiceFrame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px;
    
}

.buttonFrame{
    padding: 19px;
    border: 4px solid var(--Title);
    border-radius: 4px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
    margin-top: 0px;
    width: 100%;
    max-width: 500px;
    max-height: 300px;
    
    
    color: rgb(53, 52, 52);
    transition: 0.3s all ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.buttonFrame h5{
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
}
.buttonFrame:hover{
    background-color: rgb(24, 24, 78);
    
}
.create{
    background: green;
    color: white;
}
.create:hover{
    background-color: rgb(24, 78, 31);
    
}
.skip{
    background: rgb(211, 87, 87);
    color: white;
}
.skip:hover{
    background: rgb(114, 29, 29);
}

